.title{
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.p-line{
  text-align: center;
}

.link{
  font-size: 24px;
}

.info{
  font-size: 24px;
}

.logo{
  max-width: 300px;
}

.row{
  justify-content: center;
}

input{
  margin-bottom: 15px !important;
}